# Name: PP_MAPIR
# Author: Edgar Lopez
# Version: 2.0
# Date: 2016/05/30
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM PP_MAPIR.jar *"

Plugins>MAPIR, "Post Process Images From Directory", Post_Process_Batch
Plugins>MAPIR, "Image Index Processing From Directory", Create_NDVI_FromDir
Plugins>MAPIR, "Image Index Processing From Displayed Image", Create_NDVI_FromImage
Plugins>MAPIR, "Generate Image Calibration Coefficients", CalculateCalibration
Plugins>MAPIR, "Apply Calibration coefficients To Directory", ApplyCalibration
#Help>About Plugins, "Survey2...", JAR_Plugin("about2")
